body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #818181;
}

.row::after {
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.img-fulid {
    max-width: 100%;
    height: auto;
}
.col-6 {width: 50%;}

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fl-left {
    float: left;
}
.fl-right{
    float: right;
}
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 2;
    background: #3a3633;
    overflow-x: hidden;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    padding-top: 30px;
}

.main-menu {
    width: 220px;
    padding-left: 0.5rem;
}
.main-menu li a{
    font-size: 14px;
    padding: 15px 15px 10px 15px;
    color: #c0bbb7;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.main-menu ul li a:hover {
    color: #fff;
}


.main-menu >li >a.show > .item-icon-collapse > i {
    transform: rotate(-90deg);
}

.sidebar-collapse {
    width: 66px;
}

.main-body-extend{
    margin-left: 80px;
}
.sidebar-collapse #toggleButton {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.main-menu > li.active {
    background-color: #101113;
}

.sub-menu > li.active {
    background-color: #101113;
}

.hide {
    visibility: hidden;
}

.sub-menu {
    display: none;
    overflow: hidden;
}

.sub-menu li a {
    font-size: 12px;
}

span.nav-label {
    margin-left: 8px;
}

.item-icon-collapse  {
    font-size: 0.7rem;
    padding: 0.2rem 0;
    float: right;
}

ul.sub-menu {
    margin: 0;
    background: rgba(69,69,69,.6);
    padding: 7px 0;
}

ul.sub-menu a {
    padding-left: 50px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.main-content {
    transition: .5s;
    margin-left: 250px;
}

.overlay {
    display: none;
    transition: all 0.5s;
}

#toggleButton {
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

#toggleButton:hover, #toggleButton:active {
    transition: all 0.5s;
}


@media only screen and (max-width: 425px) {
    .main-content {
        margin-left: 0px;
    }

    .overlay { 
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
        cursor: pointer;
        position: fixed;
    }
}
/* ====================================================== */
